* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li, ol {
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
}

/* aside */
#aside {
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#aside  .logo {
  width: 100%;
  height: 100px;
  padding: 15px;
}
#aside  .logo img {
  width: 100%;
  height: 100%;
}
#aside  .gnb {}

#aside  .gnb > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#aside  .gnb > ul > li {
  width: 100%;
  &:hover a::before {
    width: 100%;
  }
}

#aside  .gnb > ul > li > a {
  display: inline-block;
  height: 30px;
  font-size: 20px;
  position: relative;
}

#aside  .gnb > ul > li > a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #333;
  transition: all 0.5s;
}

#aside  .gnb ul  li .lnb {
  height: 0;
  overflow: hidden;
  margin-top: 20px;
}

#aside  .gnb ul  li .lnb li {
  height: 25px;
}
#aside  .gnb ul  li .lnb li a {}


#aside .sns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

#aside .sns div {
  cursor: pointer;
}

#aside .sns div i {
  font-size: 22px;
}

/* album */
#album {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1)),url("./image/1st_bg.jpg") center/cover no-repeat;
}

#album .album_desc {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0;
}

#album .album_desc .album_text {
  width: 650px;
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#album .album_desc .album_images {
  display: flex;
  justify-content: center;
  gap: 30px;
}

#album .album_desc .album_images .album_image {
  width: 200px;
  transition: all 0.3s;
  cursor: pointer;
  &:hover .album_image_box::before {
    opacity: 1;
  }
  &:hover .album_detail {
    background: rgba(255, 255, 255, 0.15);
  }
  &:hover .album_image_box .album_btns {
    opacity: 1;
  }
}
#album .album_desc .album_images .album_image.active {
  transform: translateY(-30px) scale(1.05);
} 

#album .album_desc .album_images .album_image .album_image_box {
  width: 200px;
  height: 200px;
  position: relative;
}

#album .album_desc .album_images .album_image .album_image_box img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0 ;
}

#album .album_desc .album_images .album_image .album_image_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  z-index: 2;
  opacity: 0;
  transition: all 0.3s;
}

#album .album_desc .album_images .album_image .album_image_box .album_btns {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
  opacity: 0;
}

#album .album_desc .album_images .album_image .album_btns i {
  color: #fff;
  font-size: 25px;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.2);
  }
}

#album .album_desc .album_images .album_image .album_btns i:nth-child(2) {
  font-size: 50px;
  border-radius: 100%;
}

#album .album_desc .album_images .album_image .album_detail {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 13px 5px;
  border-radius: 0 0 10px 10px;
  span {
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &:first-child {
      font-size: 15px;
      font-weight: 400;
    }
    &:last-child {
      font-size: 16px;
      font-weight: 600;
    }
  }
}


