* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --font-color--: #fff;
}

body {
    background: rgba(0, 0, 0, 0.7);
}

#spain {
    height: 100vh;
    color: var(--font-color--);
    position: relative;
    overflow: hidden;

    article {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('./img/madrid.jpg') center/cover no-repeat;
        opacity: 0;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.7));
        }
        &.active {
            animation: blur 0.5s linear forwards;
        }
        
        .txt_box {
            position: absolute;
            top: 20%;
            left: 10%;
            
            h3 {
                font-size: 4rem;
            }
            p {
                width: 600px;
                padding-top: 3%;
                font-size: 1.3rem;
            }
        }
    }
    
    #thumnails {
        position: absolute;
        bottom: 3%;
        left: 10%;
        width: 100%;
        height: 220px;
        display: flex;
        gap: 20px;
        
        div {
            width: 150px;
            height: 100%;
            position: relative;
            border-radius: 10px;
            cursor: pointer;
            transition: all 0.3s;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                transition: all 0.3s;
            }
            
            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
            
            span{
                position: absolute;
                left: 10px;
                bottom: 10px;
            }
            
            &.active {
                transform: translateY(-10%);
                
                &::before {
                    background: rgba(0, 0, 0, 0);
                }
            }
        }
    }
}
        
@keyframes blur {
    0% {
        filter: blur(20px);
    }
    100% {
        opacity: 1;
        filter: blur(0)
    }
}
