* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contaienr {
  width: 100%;
  height: 100vh;
  display: flex;
  transition: all 0.5s;
}
.contaienr:hover .movie {
  flex: 1;
}
.contaienr .movie {
  flex: 1;
  transition: all 0.5s;
}
.contaienr .movie.jb {
  background: url("./img/main-jb.jpg") center/cover no-repeat;
}
.contaienr .movie.kb {
  background: url("./img/main-kb.jpg") center/cover no-repeat;
}
.contaienr .movie.ib {
  background: url("./img/main-ib.jpg") center/cover no-repeat;
}
.contaienr .movie.outih {
  background: url("./img/main-outih5.jpg") center/cover no-repeat;
}
.contaienr .movie.pf {
  background: url("./img/main-pf.jpg") center/cover no-repeat;
}
.contaienr .movie:hover {
  flex: 1.3;
}