* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

.intro {
    width: 100%;
    height: 100vh;
    position: relative;

    .line-box {
        width: 100%;
        height: 100%;
        display: flex;
        
        .line {
            width: calc(100% /8);
            height: 100%;
            background: linear-gradient(90deg, rgba(51,5,0,1) 0%, rgba(168,8,8,1) 45%);

            &.active {
                animation: movingBar 0.8s ease-in-out forwards;
                animation-delay: 3s;
            }
        }
    }

    .rolling {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 60px;
        transform: translate(-50%, -50%);
        overflow: hidden;

        ul {
            width: 100%;
            height: 300%;

            li {
                width: 100%;
                height: 60px;
                text-align: center;
                font-size: 42px;
                transition: all .8s;
            }

            &.active {
                animation: rolling 3s linear forwards;
            }
        }

    }
}

@keyframes movingBar {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes rolling {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(-200%);
    }
}